<script src="/assets/jquery.js" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" src="https://cdn.datatables.net/datetime/1.2.0/css/dataTables.dateTime.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" src="https://cdn.datatables.net/datetime/1.2.0/css/dataTables.dateTime.min.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/datetime/1.2.0/js/dataTables.dateTime.min.js"></script>


<%= javascript_tag do %>
  var invent = <%= @invent.to_json.html_safe %>
<% end %>

<br>
<h1>Top Seller</h1>
<table border="0" cellspacing="5" cellpadding="5">
        <tbody><tr>
            <td>Minimum date:</td>
            <td><input type="text" id="min" name="min"></td>
        </tr>
        <tr>
            <td>Maximum date:</td>
            <td><input type="text" id="max" name="max"></td>
        </tr>
</tbody></table>
<table id="myTable" style="display:none">
    <thead>
        <tr>
            <th>Seller ID</th>
            <th>Seller Name</th>
            <th>Number of transaction (Quantity)</th>
            <th>Amount of transaction price (Sales)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
        </tr>
    </tbody>
</table>






  <script type="text/javascript" >
    function rows(id,name,qty,price){
            this.id = id;
            this.name = name;
            this.qty = qty;
            this.price = price;
          }
    function filter_row(data,mins,maxs){
        //console.log(data)
        var result = [];
        for( let i = 0 ; i< data.length;i++){

            
            if (
                    ( mins === null && maxs === null ) ||
                    ( mins === null && data[i].date <= maxs ) ||
                    ( mins <= data[i].date   && maxs === null ) ||
                    ( mins <= data[i].date   && data[i].date <= maxs )
                ){
                //console.log("Yes")
                var resultlen = result.length;
                if(resultlen!=0 && result[resultlen-1]["id"] == data[i].id){
                    //console.log(result[resultlen-1].qty)
                    result[resultlen-1].qty +=  data[i].qty;
                    result[resultlen-1].price += data[i].price;
                }else{
                    result.push(new rows(data[i].id,data[i].name,data[i].qty,data[i].price))
                }
            }
        }
        return result;
    }
    function reLoad(table,result){
        table.clear();
        for(let i=0;i<result.length;i++){
            table.row.add([result[i].id,result[i].name,result[i].qty,result[i].price ]);
        }
    }
    // Guard against double DOM loads
    var codeExecuted = false;

    document.addEventListener('DOMContentLoaded', function(e) {

      // Check if importmap stuff exisits without throwing an error.
      // Then run main code w/ guard against multiple executions.
      if ("importmapScriptsLoaded" in window) { 
        
        if (!codeExecuted) {
        for( let i = 0 ; i< invent.length;i++){
                    invent[i].date = new Date(invent[i].date);
                }

          //$.noConflict();
          //console.log(invent)
          var allRow = []

          // Main code here
          var minDate, maxDate;



          $(document).ready( function () {
            minDate = new DateTime($('#min'), {
                format: 'MMMM Do YYYY'
            });
            maxDate = new DateTime($('#max'), {
                format: 'MMMM Do YYYY'
            });

             var table = $('#myTable').DataTable();
            var result = filter_row(invent,minDate.val(),maxDate.val());
                reLoad(table,result);
                table.draw();
            $('#min, #max').on('change', function () {
                console.log("TEST")
                var result = filter_row(invent,minDate.val(),maxDate.val());
                reLoad(table,result);
                table.draw();
                console.log("Done")
            });

          $('#myTable').show();

        } );

          // Don't forget to bump guard for one-time only JS execution !!
          codeExecuted = true; 
        };  
      };

    });
          

  </script>