<br>
<div class="container" id="<%= dom_id user %>">
  <div>
    <p class="text-dark">
      <strong>Email:</strong>
      <%= user.email %>
    </p>
  </div>
  <p class="text-dark">
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p class="text-dark">
    <strong>User type:</strong>
    <%= user.user_type %>
  </p>


</div>
